#on-container {
    font-family: 'Roboto', Arial, sans-serif;
    position: fixed;
    top: 0 !important;
    right: 0 !important;
    z-index: 9147483647 !important;
    font-size: 13px !important;
    line-height: 1.3 !important;
    right: 1px !important;
    letter-spacing: .2px !important;
    cursor: default !important;
    color: black !important;
    box-shadow: 0 0 40px #999;
    width: 390px !important;
    background-color: white !important;
    zoom: 0 !important;
    box-sizing: border-box !important;
}

#on-container #OurUnderLine a:hover,
#on-container #OurUnderline span a:hover {
    text-decoration: underline !important;
    text-decoration-skip-ink: none !important;
}


#on-container table,
#on-container th,
#on-container td {
    font-size: 13px !important;
    padding: 0 !important;
    margin: 0 !important;
}


#on-container .on-rate-actions .column {
    height: 65px;
}

#on-container img {
    display: inline-block !important;
}

#on-container .on-welcome {
    color: white !important;
}

#on-header #on-branding a:hover span.on-welcome-name {
    text-decoration: underline !important;
    text-decoration-skip-ink: none !important;
}

#on-container .on-welcome-name,
#on-container .on-welcome-point,
#on-container .on-welcome-notifs {
    color: white !important;
}

#on-container .on-welcome-point {
    border-radius: 3px !important;
    display: inline-block !important;
    padding: 3px !important;
    border: 1px solid #e8d2f9 !important;
    background-color: #290047 !important;
    font-size: 80% !important;
    margin-left: 5px;
}

#on-container .on-welcome-notifs {
    display: inline-block;
    padding: 3px !important;
    border: 1px solid black !important;
    background-color: red !important;
    font-size: 80% !important;
    margin-left: 3px !important;
    text-align: center !important;
    color: white !important;
    width: 18px !important;
    height: 18px !important;
    border-radius: 50% !important;
    line-height: 18px !important;
}

#on-container .on-welcome-notifs a {
    color: white !important;
}

#on-container .on-your-total table {
    text-align: center;
    font-size: 13px !important;
}

#on-container img {
    max-width: none !important;
    position: static !important;
}

#on-container .container-fluid {
    padding: 0 !important;
}

#on-container [type="range"] {
    width: 99% !important;
}

#on-container input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

#on-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

#on-container input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

#on-container input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

#on-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #e4e4e4;
    height: 12px;
    width: 24px;
    border-radius: 3px;
    background: #f4f4f4;
    cursor: pointer;
    margin-top: -3px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
#on-container input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #e4e4e4;
    height: 12px;
    width: 24px;
    border-radius: 3px;
    background: #f4f4f4;
    cursor: pointer;
}

#on-container input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #e4e4e4;
    border-radius: 3px;
    border: 0.2px solid grey;
}

#on-container input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e4e4e4;
}

#on-container .button,
#on-container .button.is-link {
    background-color: #4b0081 !important;
    font-size: 15px !important;
    max-width: 125px !important;
    background-image: none !important;
    display: inline-block !important;
}

#on-container .button:hover,
#on-container .button.is-link:hover {
    color: white !important;
}

#on-container .on-close {
    display: inline-block !important;
    cursor: pointer !important;
    position: absolute !important;
    right: -30px !important;
    top: -30px !important;
    padding: 5px;
    display: none !important;
}

#on-container .on-close img {
    border-radius: 500px !important;
    background-color: white !important;
    border: 3px solid white !important;
    height: 30px !important;
    width: 30px !important;
}

#on-container .on-loader img {
    height: 20px !important;
    margin-top: -5px !important;
}

#on-container table,
#on-container tr,
#on-container th,
#on-container td {
    text-align: center !important;
    vertical-align: middle !important;
    background-color: white !important;
    border: none !important;
}

#on-container select,
#on-container .button {
    padding: 9px !important;
    height: auto !important;
}

#on-container * {
    font-family: 'Roboto', Arial, sans-serif !important;
}

#on-container .columns {
    float: none !important;
    padding: 0 !important;
}

#on-container input,
#on-container button,
#on-container .button,
#on-container select {
    font-size: 13px !important;
}

#on-container a {
    text-decoration: none !important;
}

#on-container .on-heading {
    color: #fe6313 !important;
}

#on-container h1,
#on-container h2,
#on-container h3,
#on-container h4,
#on-container h5,
#on-container h6 {
    color: #fe6313 !important;
    font-weight: bold !important;
}


#on-container #on-branding {
    padding: 12px 5px !important;
    background-color: #4b0081 !important;
}

#on-container #on-branding img {
    display: inline-block !important;
}

#on-footer {
    text-align: right;
    padding: 5px;
    background-color: #4b0081 !important;
}

#on-hamburger img {
    height: 32px !important;
}

#on-container .dropdown-menu {
    text-align: left !important;
}

#on-container #on-content {
    background-color: white !important;
    line-height: 1.6 !important;
    padding: 0 15px 15px !important;
    max-height: 80vh;
    overflow-y: auto;
}

#on-container .on-title {
    background-color: #4b0081 !important;
    padding: 2px 10px !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    border-radius: 3px !important;
    margin-bottom: 10px !important;
}

#on-container #on-content #on-advanced-ratings table {
    width: 100% !important;
}

#on-container .on-hidden {
    display: none !important;
}

#on-container a:hover#btnOnAddSource,
#on-container .article-source-url a:hover,
#on-container .article-source-url span a:hover,
#on-container .contributed-source-url a:hover,
#on-container .contributed-source-url span a:hover,
#on-container .on-top-indicators-item a:hover,
#on-container .on-top-indicators-item span a:hover,
#on-container #on-content #on-fact-check div strong a:hover span.onarm-publisher,
#on-container #on-content #on-fact-check div strong a:hover span.onarm-author {
    text-decoration: underline !important;
    text-decoration-skip-ink: none !important;
}

.article-source-item a {
    display: inline-block !important;
    padding: 2px !important;
}

.article-source-item a,
.contributed-source-item a {
    display: inline-block !important;
    padding: 2px !important;
}

.article-source-item img,
.contributed-source-item img {
    width: 16px !important;
}

.article-source-item span,
.contributed-source-item span {
    margin-left: 3px !important;
}

.article-source-votes,
.contributed-source-votes {
    background-color: #4b0081 !important;
    color: white !important;
    padding: 2px 5px !important;
    text-align: center !important;
}

#on-container .column {
    padding: 0 !important;
}

.on-rate-actions .column {
    text-align: center !important;
}


#on-container h3 {
    font-size: 16px !important;
}


#on-container .on-tag {
    background-color: #eee !important;
    padding: 2px !important;
    display: inline-block !important;
    border-radius: 3px !important;
    border: 1px solid #ccc !important;
    color: #4b0081 !important;
    margin: 2px !important;
}

#on-container .on-tag a:hover {
    text-decoration: underline !important;
    text-decoration-skip-ink: none !important;
}

#on-container .on-ratings-top-raters a:hover {
    text-decoration: underline !important;
    text-decoration-skip-ink: none !important;
}

#on-container .on-tag .on-point {
    font-size: 12px !important;
    color: white !important;
    background-color: #4b0081 !important;
    display: inline-block !important;
    padding: 2px 4px !important;
    border-radius: 3px !important;
    margin-left: 4px !important;
}

#on-container .on-ratings-total {
    color: #4b0081 !important;
    font-weight: bold !important;
}

#on-container .on-tooltip {
    position: relative !important;
}

#on-container .on-tooltip-notifs {
    position: relative !important;
}

#on-container .on-tooltiptext {
    display: none;
    text-align: left !important;
    width: 180px !important;
    background-color: black !important;
    color: #fff !important;
    text-align: center !important;
    padding: 5px 0 !important;
    border-radius: 3px !important;
    position: absolute !important;
    top: 60px !important;
    left: -100px !important;
    z-index: 1 !important;
    padding: 10px !important;
    font-weight: normal !important;
}

#on-container .on-tooltiptext-notifs {
    display: none;
    text-align: left !important;
    width: 220px !important;
    background-color: black !important;
    color: #fff !important;
    text-align: center !important;
    padding: 5px 0 !important;
    border-radius: 3px !important;
    position: absolute !important;
    top: 60px !important;
    left: -100px !important;
    z-index: 1 !important;
    padding: 10px !important;
    font-weight: normal !important;
}


/*#on-container .on-tooltip:hover .on-tooltiptext {
        visibility: visible !important;
    }*/


#on-container .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    width: 180px !important;
    background-color: white !important;
    border: 1px solid #ddd;
    box-shadow: 0 0 30px #ccc;
    z-index: 99999999;
}

#on-container .dropdown .dropdown-menu .dropdown-item {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#on-container .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #f4f4f4;
}

#on-container .dropdown.is-active .dropdown-menu {
    display: inline-block;
}


#on-container #on-popup-share-link {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: none;
    background-color: black !important;
    padding: 5px 10px !important;
    border-radius: 5px !important;
    color: white !important;
    position: absolute;
    bottom: 35px !important;
    z-index: 99999999;
}

#on-container .font-by-20 {
    font-size: 120% !important;
}


#on-container .on-newstrition-social-icons img {
    width: 18px;
    display: inline-block;
    margin: 0 2px;
}

.on-one-click-fb-btn {
    cursor: pointer;
    padding-right: 10px;
}

.on-one-click-btn {
    position: absolute;
    top: -3px;
    right: 30px;
    z-index: 1;
    cursor: pointer;
}

/*.on-one-click-btn.on-fb {
        top: 30px !important;
        right: 2px !important;
    }

    .on-one-click-btn.on-has-parent {
        top: 60px !important;
    }*/

#on-container .on-newstrition-verified-help {
    background-color: white;
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid #444;
    width: 18px;
    height: 18px;
    box-sizing: border-box !important;
}


#on-container .contributed-source-label {
    background-color: #4b0081 !important;
    color: white !important;
    border-radius: 10px !important;
    display: inline-block !important;
    font-size: 90% !important;
    padding: 3px 5px;
}

.on-bold-hover {
    font-size: 110%;
}

.on-bold-hover:hover {
    font-weight: bold;
}

.article-source-item img:hover,
.contributed-source-item img:hover,
.article-source-item img.active,
.contributed-source-item img.active {
    filter: drop-shadow(1px -1px 0 #213377);
}


#on-container .on-article-preview {
    display: table;
    width: auto !important;
    padding: 5px 0;
}

#on-container .on-article-preview-thumb {
    vertical-align: middle;
}

#on-container .on-article-preview > div {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

#on-container .on-tab-container {
    border-top: 2px solid #666;
    padding-top: 10px;
    background-color: #dee1e6;
}

#on-container .on-tab-container .on-tab {
    display: inline-block !important;
    padding: 8px 12px !important;
    border-radius: 6px 6px 0 0 !important;
    cursor: pointer;
    font-weight: 500 !important;
}

#on-container .on-tab-container .on-tab.on-active {
    background-color: white !important;
}

#on-container #on-summary table td {
    vertical-align: top !important;
}

#on-container .on-tab-container .on-tab.first {
    margin-left: 10px !important;
}

#on-container #on-qa {
    padding: 15px;
    background-color: #f2f2f2;
}

#on-container #on-qa .on-qa-question {
    font-weight: bold;
    font-size: 17px;
}

#on-container .on-qa-option-container {
    padding: 5px 0 !important;
}

#on-container .on-qa-option-container .on-qa-option {
    display: inline-block !important;
    margin-right: 2px !important;
    margin-bottom: 3px !important;
    text-align: center !important;
    font-size: 13px !important;
    background-color: #fff !important;
    border: 1px solid #bbb;
    border-radius: 4px !important;
    color: #999 !important;
    min-width: 35px !important;
    cursor: pointer !important;
    position: relative !important;
    box-sizing: border-box !important;
    padding: 6px 10px !important;
}

#on-container .on-qa-option-container .on-qa-option.on-rounded {
    width: 36px !important;
    height: 36px !important;
    border-radius: 500px !important;
    padding: 0 !important;
    line-height: 36px !important;
    text-align: center !important;
}

#on-container .on-qa-option-container.on-qa-relevance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#on-container .on-qa-option-container.on-qa-spin {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#on-container .on-qa-option-container .on-qa-option:hover,
#on-container .on-qa-option-container .on-qa-option.on-active {
    border: 1px solid #444 !important;
    color: #fff !important;
    box-shadow: 0 0 2px #aaa;
    background-color: #4b0081 !important;
}

#on-container .on-qa-card {
    display: none;
    position: relative;
}

#on-container .on-qa-card.on-active {
    display: block;
}

.on-welcome.on-noauth-only {
    cursor: pointer;
}

#on-container .on-qa-box-title {
    font-weight: bold !important;
    color: #4b0081 !important;
}

#on-container .on-qa-box {
    background-color: #f2f2f2 !important;
    padding: 15px !important;
    margin: 5px -15px !important;
}

#on-container .on-top-raters-profile {
    margin-top: 5px;
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
}

#on-container .on-top-raters-item {
    text-align: center !important;
    font-size: 90%;
    cursor: pointer;
    margin-bottom: 5px;
}

#on-container .on-top-raters-point {
    display: inline-block;
    padding: 3px 5px;
    font-size: 90%;
    background-color: white;
    border-radius: 4px;
}